<div class="container">
<div class="jumbotron">
  <h1 class="display-3">Erreur !</h1>
  <p class="lead">Et bien on a déjà une personne avec cet username</p>
  <hr class="my-4">
  <p>Va recréer le profil</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/new" role="button">Recréer un utilisateur</a>
  </p>
</div>
</div>
