<div class="container">
<div class="jumbotron">
  <h1 class="display-3">Bienvenue !</h1>
  <p class="lead">Bienvenue
  <%= @usera.username%></p>
  <hr class="my-4">
  <p>Voici ta bio super cool</p>
    <%= @usera.bio%>
</div>
</div>
